@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&display=swap');
*{
  margin: 0;
  padding: 0;
}

header img {
  display: table-cell;
  vertical-align: middle;
}

nav {
  text-align: right;
  display: flex;
  justify-content: space-between;
  line-height: 60px;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #36A4E4;
}

nav {
  display: flex;
  justify-content: space-between;
  line-height: 60px;
}

.menu-link, .menu-link:link, .menu-link:visited {
  color: #94040C;
}

.menu-link:hover {
  background-color: #94040C;
  color: #fff;
}

.menu {
  padding-right: 60px;
  text-align: right;  
  word-spacing: 8px;
}

#logo, #img-logo {
  width: 250px;
  justify-content: start;
}

p {
  font-family: 'Lato', sans-serif;
}

#banner-image {
  width: 100%;
}

main {
  margin: 100px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-img {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  box-shadow: 20px 10px 10px #36A4E4;
}

#akira {
  box-shadow: 20px 10px 10px #FEE266;
}

.container-id {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-id p {
  margin-top: 20px;
  font-size: 1.3em;
}

footer {
  background-color: #94040C;
  color: #fff;
  padding: 20px;
}

#redes {
  width: 33%;
}

.rede-social {
  width: 30px;
}

#atendimento {
  width: 33%;
}

#adocao {
  width: 33%;
}

.p-titulo {
  font-family: 'Libre Baskerville', serif;
}

.dev {
  text-align: center;
  background-color: #94040C;
  color: #fff;
}

@media (max-width: 600px) {
  nav {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
  }
  
  .menu {
    padding-right: 30px;
    text-align: right;  
    word-spacing: 8px;
  }

  .menu-link {
    font-size: 0.8em;
  }

  p {
    font-size: 0.8em;
  }

  #logo, #img-logo {
    width: 150px;
    justify-content: center;
  }

  main {
    margin: 30px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .container.akira {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
  }

  .container-text {
    width: 300px;
  }

  .container-img {
    width: 180px;
    height: 180px;
  }

  .container-id {
    padding: 20px;
    margin-right: 10px;
  }

  footer.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer p {
    font-size: 0.5em;
  }

  .rede-social {
    width: 18px;
  }

  .dev {
    font-size: 0.6em;
  }
}