@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&display=swap');
*{
  margin: 0;
  padding: 0;
}

header img {
  display: table-cell;
  vertical-align: middle;
}

.menu-link, .menu-link:link, .menu-link:visited {
  color: #94040C;
}

.menu-link:hover {
  background-color: #94040C;
  color: #fff;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #36A4E4;
}

h1, h2 {
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 20px;
}

p {
  font-family: 'Lato', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  line-height: 60px;
}

.menu {
  padding-right: 60px;
  text-align: right;  
  word-spacing: 8px;
}

#logo, #img-logo {
  width: 250px;
  justify-content: start;
}

.card__container {
  width: 100%;
}

.card-image {
  width: 100%;
  display: flex;
}

.card-miniatures {
  display: block;
  align-items: center;
  justify-content: end;
  margin-left: 60px;
  margin-top: -25px;
}

.card-miniatures__miniature {
  height: 15px;
  width: 15px;
  opacity: 0.5;
  cursor: pointer;
  background-color: rgb(175, 163, 163);
  border-radius: 100%;
  position: relative;
}

.active {
  opacity: 1;
  background-color: #717171;
}

.container {
  display: flex;
  justify-content: center;
}

.imagem-carrossel {
  width: 100%;
}

.sec-servicos__container, .sec-produtos__container {
  display: flex;
  justify-content: space-evenly;
}
.sec-produtos, #sec-servicos {
  padding: 60px;
}

#sec-servicos h1{
  margin-bottom: 20px;
}

#sec-servicos .p-titulo {
  text-align: center;
  font-size: 1.3em;
}

.img-produto {
  width: 250px;
}

.categoria {
  width: 12%;
}

.img-categoria {
  width: 85%;
}

footer {
  background-color: #94040C;
  color: #fff;
  padding: 20px;
}

#redes {
  width: 33%;
}

.rede-social {
  width: 30px;
}

#atendimento {
  width: 33%;
}

#adocao {
  width: 33%;
}

.p-titulo {
  font-family: 'Libre Baskerville', serif;
}

.dev {
  text-align: center;
  background-color: #94040C;
  color: #fff;
}