@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header img {
  display: table-cell;
  vertical-align: middle;
}

.menu-link, .menu-link:link, .menu-link:visited {
  color: #94040C;
}

.menu-link:hover {
  background-color: #94040C;
  color: #fff;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #36A4E4;
}

h1, h2 {
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 20px;
}

p {
  font-family: 'Lato', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  line-height: 60px;
}

.menu {
  padding-right: 40px;
  text-align: right;  
  word-spacing: 8px;
}

#logo, #img-logo {
  width: 250px;
  justify-content: start;
}


.card-img__servico {
  width: 250px;
}

.card__container {
  width: 100%;
}

.card-image {
  width: 100%;
  display: flex;
}

.card-image__preview {
  width: 100%;
}

.card-miniatures {
  display: block;
  align-items: center;
  justify-content: end;
  margin-left: 60px;
  margin-top: -25px;
  width: 100%;
}

.card-miniatures__miniature {
  height: 15px;
  width: 15px;
  opacity: 0.5;
  cursor: pointer;
  background-color: rgb(175, 163, 163);
  border-radius: 100%;
  position: relative;
}

.active {
  opacity: 1;
  background-color: #717171;
}

.container {
  display: flex;
  justify-content: center;
}

.sec-servicos__container, .sec-produtos__container, container-categoria {
  display: flex;
  justify-content: space-evenly;
}

.container-categoria {
  width: 100%;
  padding: 30px;
}

.sec-produtos, #sec-servicos, #sec-categoria {
  padding: 60px;
}

.gallery {
  display: flex;
  overflow-x: auto;
  flex-flow: row nowrap;
  gap: 20px;
}

#sec-servicos .p-titulo {
  text-align: center;
  font-size: 1.3em;
}

.img-produto {
  width: 200px;
}

.product-text {
  text-align: center;
}

.sec-produtos__card:hover {
  transition: 1s;
  box-shadow: 10px 10px 10px #ddd;
}

.categoria {
  text-align: center;
}

.img-categoria {
  width: 100%;
}

footer {
  background-color: #94040C;
  color: #fff;
  padding: 20px;
  width: 100%;
}

#redes {
  width: 33%;
}

.rede-social {
  width: 30px;
}

#atendimento {
  width: 33%;
}

#adocao {
  width: 33%;
}

.p-titulo {
  font-family: 'Libre Baskerville', serif;
}

.dev {
  text-align: center;
  background-color: #94040C;
  color: #fff;
}

a.link-footer {
  color: #fff;
}

@media (max-width:600px) {
  nav {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
  }
  
  .menu {
    padding-right: 30px;
    text-align: right;  
    word-spacing: 8px;
  }

  .menu-link {
    font-size: 0.6em;
  }

  p {
    font-size: 0.8em;
  }

  #logo, #img-logo {
    width: 150px;
    justify-content: center;
  }

  .card-miniatures {
    display: block;
    align-items: center;
    justify-content: end;
    margin-left: 30px;
    margin-top: -25px;
    width: 100%;
  }
  
  .card-miniatures__miniature {
    height: 10px;
    width: 10px;
    opacity: 0.7;
    cursor: pointer;
    background-color: rgb(175, 163, 163);
    border-radius: 100%;
    position: relative;
  }

  .active {
    opacity: 1;
    background-color: #717171;
  }

  .sec-produtos, #sec-servicos, #sec-categoria {
    padding: 40px;
  }
  
  #sec-servicos .p-titulo {
    justify-self: center;
    font-size: 0.9em;
    display: flex;
    justify-content: space-evenly;
  }

  .card-img__servico {
    width: 100px;
  }

  .img-produto {
    width: 90px;
  }

  .categoria {
    text-align: center;
  }
  
  .container-categoria {
    padding: 0;
  }

  .img-categoria {
    width: 90px;
  }

  footer p {
    font-size: 0.5em;
  }

  .rede-social {
    width: 18px;
  }

  .dev {
    font-size: 0.6em;
  }
}