@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&display=swap');
*{
  margin: 0;
  padding: 0;
}

header img {
  display: table-cell;
  vertical-align: middle;
}

nav {
  display: flex;
  justify-content: space-between;
  line-height: 60px;
}

.menu {
  padding-right: 60px;
  text-align: right;
  word-spacing: 8px;
}

#logo, #img-logo {
  width: 250px;
  justify-content: start;
}

.menu-link, .menu-link:link, .menu-link:visited {
  color: #94040C;
}

.menu-link:hover {
  background-color: #94040C;
  color: #fff;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #36A4E4;
}

h1, h2 {
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 20px;
}

p {
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #94040C;
  color: #fff;
  padding: 20px;
}

#redes {
  width: 33%;
}

.rede-social {
  width: 30px;
}

#atendimento {
  width: 33%;
}

#adocao {
  width: 33%;
}

.p-titulo {
  font-family: 'Libre Baskerville', serif;
}

.dev {
  text-align: center;
  background-color: #94040C;
  color: #fff;
}