@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&display=swap');
*{
  margin: 0;
  padding: 0;
}

header img {
  display: table-cell;
  vertical-align: middle;
}

nav {
  display: flex;
  justify-content: space-between;
  line-height: 60px;
}

.menu {
  padding-right: 60px;
  text-align: right;
  word-spacing: 8px;
}

#logo, #img-logo {
  width: 250px;
  justify-content: start;
}

.menu-link, .menu-link:link, .menu-link:visited {
  color: #94040C;
}

.menu-link:hover {
  background-color: #94040C;
  color: #fff;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #36A4E4;
}

h1, h2 {
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 20px;
}

p {
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#search {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 80px;
  align-self: center;
  padding: 8px;
}

.icon-search {
  width: 40px;
  height: 40px;
  align-self: center;
}

#button-search {
  width: 80px;
  height: 40px;
  align-self: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#search-products {
  background-color: #F45159;
  opacity: 0.7;
  height: 90px;
}

.img-product {
  width: 250px;
  padding: 10px;
  margin-left: 10px;
}

.container-img {
  width: 88%;
}

.card {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card:hover {
  box-shadow: 10px 10px 10px #ddd;
  transition: 0s;
}

.form {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #F45159;
  width: 200px;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
  margin-left: -10px ;
  float: left;
}

label {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.icon-select, .icon-filter {
  width: 25px;
}

fieldset {
  margin: 10px auto;
  border: none;
  padding: 6px;
}

input {
  margin:0 12px 0 0;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

footer {
  background-color: #94040C;
  color: #fff;
  padding: 20px;
}

#redes {
  width: 33%;
}

.rede-social {
  width: 30px;
}

#atendimento {
  width: 33%;
}

#adocao {
  width: 33%;
}

.p-titulo {
  font-family: 'Libre Baskerville', serif;
}

.dev {
  text-align: center;
  background-color: #94040C;
  color: #fff;
}

@media (max-width:600px) {
  #logo, #img-logo {
    width: 170px;
    justify-content: start;
  }

  p {
    font-size: 0.8em;
  }

  label {
    font-size: 0.9em;
  }
  
  .img-product {
    width: 150px;
  }

  .form {
    width: 180px;
  }
}