@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&display=swap');
*{
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Libre Baskerville', serif;
}

p {
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
}

nav .container {
  justify-content: end;
}

#logo {
  width: 250px;
}


.imagem-carrossel {
  width: 100%;
}